.icons-sprite, .btn__search, .icon-facebook, .icon-twitter, .icon-google, .icon-pinterest, .slick-arrow.slick-prev, .slick-arrow.slick-next {
    background-image: url('../images/icons-sca4f4745d6.png');
    background-repeat: no-repeat;
}
[class*='btn__']:hover, [class*='btn__']:active, [class*='btn__']:focus:active, [class*='btn__']:focus {
    outline: none;
}
.btn__search {
    background-position: 0 -405px;
    height: 14px;
    width: 14px;
    right: 15px;
    top: 10px;
    padding: 0;
    position: absolute;
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}
.btn__search:hover{
    background-color:transparent;
}
.icon-facebook {
    background-position: 0 0;
    height: 32px;
    width: 32px;
}
.icon-twitter {
    background-position: 0 -422px;
    height: 32px;
    width: 32px;
}
.icon-google {
    background-position: 0 -35px;
    height: 32px;
    width: 32px;
}
.icon-pinterest {
    background-position: 0 -220px;
    height: 32px;
    width: 32px;
}
.header {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: #fff;
    background-image: none;
    filter: none;
    border-color: #e4e6e8;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: #333333;
    word-wrap: break-word;
}
h2 {
    font-size: 36px;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #333333;
}
.text-banner {
    color: white;
}
.text-muted {
    color: #00aee8;
    font-family: "Montserrat", sans-serif;
}
a.text-muted:hover, a.text-muted:focus, a.text-muted:focus:active {
    color: #0088b5;
    text-decoration: none;
}
.text-caps {
    text-transform: uppercase;
}
.avatar-picture {
    width: 61px;
    height: 61px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    float: left;
}
.user__block {
    margin-top: 30px;
}
.user__text {
    margin-left: 80px;
}
.user__text .text-muted {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
}
.container-muted {
    margin-top: 15px;
}
.container__post {
    padding-top: 30px;
    padding-bottom: 30px;
}
.container__post:nth-child(even) {
    background-color: #fafafa;
}
.post__container {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}
.post__container p {
    margin-bottom: 20px;
}
.post__container h1, .post__container h2, .post__container h3, .post__container h4, .post__container h5, .post__container h6 {
    color: black;
}
.review {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 40px;
    display:table;
    width:100%;
}
.review .review__picture__block{
    display:table-cell;
    vertical-align:top;
    width:150px;
}
.review .review__picture {
    width: 128px;
    height: 128px;
}
.review .review__block {
    display:table-cell;
    vertical-align:middle;
}
.similar__post {
    margin-bottom: 30px;
    height:175px;
    background-size: cover;
    display:block;
}
.similar__post .similar__post__picture {
    height: 145px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.similar__post .similar__post__picture img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
}
.similar__post:hover{
    text-decoration:none;
}
.similar__post:hover *{
    text-decoration:none;
}
.similar__post:hover .similar__post__subtitle{
    color: #00aee8;
    text-decoration:none;
}
.similar__post .similar__post__title{
    background-color:white;
}
.similar__post .similar__post__subtitle{
    display:block;
    padding-bottom:10px;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-social {
    padding-left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 30px;
    left: -40px;
    margin-left: 0;
}
.post-social li {
    list-style: none;
    margin-bottom: 10px;
}
.post-social li a i {
    display: block;
}
.post-social li a:hover i {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.blog .container {
    max-width: none !important;
}
.post__title:hover, .post__title:focus, .post__title:active, .post__title:focus:active {
    text-decoration: none;
}
.post__title:hover h2, .post__title:focus h2, .post__title:active h2, .post__title:focus:active h2 {
    color: black;
}
.form-group.is-search {
    position: relative;
}
.form-group.is-search * {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    outline:none;
}
.form-group.is-search .form-control {
    border: 1px solid #cccccc;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
    padding: 6px 12px;
}
.form-group.is-search .form-control:focus {
    border: 1px solid #00aee8;
}
.form-group .form-select{
    width:100%;
}
.form-group .form-control {
    width:100%;
    border: 1px solid #cccccc;
    height: auto;
}
.form-group select.form-control {
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-group select.form-control:focus, .form-group select.form-control:active, .form-group select.form-control:focus:active {
    outline: none;
    border: 1px solid #00aee8;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.landing__banner {
    background-image: url("../images/bg/banner.png");
    min-height: 480px;
    max-height: 550px;
    padding-top: 70px;
    background-size: cover;
    color: white;
    float: left;
}
.landing__banner .landing__banner__content {
    width: 100%;
    min-height: 480px;
    max-height: 550px;
    position: relative;
}
.landing__banner .landing__banner__content .landing__banner__content__ {
    position: absolute;
    bottom: 0;
}
.landing__banner.post-banner .landing__banner__content .landing__banner__content__ {
    vertical-align: bottom;
    padding-bottom: 20px;
}
.blog-banner{
    padding-top: 75px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blog-banner .landing__banner{
    float:none;
    padding-bottom:0;
}
.slider {
    position: relative;
    overflow: hidden;
}
.slider * {
    outline: none;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -36px;
    text-indent: -99999px;
    background-color: transparent;
    border: none;
    z-index: 5;
}
.slick-arrow.slick-prev {
    background-position: 0 -70px;
    height: 72px;
    width: 36px;
    left: 10px;
}
.slick-arrow.slick-prev:hover, .slick-arrow.slick-prev.left-hover {
    background-position: 0 -145px;
}
.slick-arrow.slick-next {
    background-position: 0 -255px;
    height: 72px;
    width: 36px;
    right: 10px;
}
.slick-arrow.slick-next:hover, .slick-arrow.slick-next.right-hover {
    background-position: 0 -330px;
}
.m-b0 {
    margin-bottom: 0;
}
.m-tb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-r20 {
    margin-right: 20px;
}
.row__banner{
    display:table;
    width:100%;
}
.home__banner__row{
    display:table-row;
    width:100%;
}
.row__banner__col{
    height:230px;
    width:20%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-size:cover;
}
.row__banner__col img{
    height:100%;
    width:100%;
}
.row__banner__col [class*='title']{
    text-transform:uppercase;
    font-family: 'Bitter', serif;
}
.title-13 {
  font-size: 13px;
}
.title-18 {
  font-size: 18px;
}
.title-19 {
  font-size: 19px;
}
.title-20 {
  font-size: 20px;
}
.title-21 {
  font-size: 21px;
}
.title-22 {
  font-size: 22px;
}
.title-23 {
  font-size: 23px;
}
.title-24 {
  font-size: 24px;
}
.title-25 {
  font-size: 25px;
}
.title-26 {
  font-size: 26px;
}
.title-27 {
  font-size: 27px;
}
.title-28 {
  font-size: 28px;
}
.title-29 {
  font-size: 29px;
}
.title-30 {
  font-size: 30px;
}
.title-31 {
  font-size: 31px;
}
.title-32 {
  font-size: 32px;
}
.title-36 {
  font-size: 36px;
}
.title-38 {
  font-size: 38px;
}

.home__banner__black{
    color:black;
}
.home__banner__white{
    color:white;
}
.home__banner__red{
    color:#ff5252;
}
.row__banner__col.blue__banner{
    background-color:#00aee8;
}
.row__banner__col.yellow__banner{
    background-color:#fbc02d;
}
.row__banner__col.green__banner{
    background-color:#00e676;
}
.row__banner__col.red__banner{
    background-color:#ff5252;
}
.row__banner__col.dark__banner{
    background-color:#263238;
}
@media all and (max-width: 1199px) {
    .similar__post .similar__post__subtitle{
        width:300px;
    }
}
@media all and (min-width: 992px) {
    .row__banner{
        padding-top:62px;
    }
}
@media all and (max-width: 992px) {
    .row__banner__col [class*='title']{
        margin-top:0;
    }
    .row__banner__col{
        width:100%;
        display:inline-block;
        padding-top:25px;
        padding-bottom:25px;
        min-height:150px;
        height:auto;
    }
    .home__banner__row{
        /*float:left;*/
    }
    .post-social{
        position: static;
    }
    .post-social li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .landing__banner .landing__banner__content .landing__banner__content__ p.text-banner {
        display: none;
    }
    .landing__banner .landing__banner__content .landing__banner__content__ .user__block p.text-banner {
        display: block;
    }
    .similar__post  .similar__post__subtitle{
        width:200px;
    }
}
@media all and (max-width: 767px) {
    .landing__banner {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .landing__banner .landing__banner__content .landing__banner__content__ {
        padding-left: 50px;
        padding-right: 50px;
    }
    .review .review__picture {
        float: none;
        margin-bottom: 0;
    }
    .review .review__block {
        margin-left: 0;
    }
    .similar__post .similar__post__subtitle{
        width:100%;
    }
}