.contact__content{
	padding-top:100px;
	padding-bottom:50px;
}
.contact__content__title{
	font-family: "Montserrat", sans-serif;
	color: #333333;
	margin-bottom:50px;
	text-align:center;
}
.contact-list{
	padding-left:0;
	margin-left:0;
	margin-bottom:40px;
}
.contact-list__item{
	display:block;
	padding:20px 0;
	border-bottom:1px solid #f0f0f0;
}
.contact-list__item:first-child .contact-list__item__text{
	font-size:18px;
}
.contact-list__item__picture{
	width:50px;
	text-align:center;
	float:left;
}
.contact-list__item__cb{
	position:relative;
	top:-3px;
}
.contact-list__item__text{
	color:#666666;
	font-size:14px;
}
.contact-list__item__text a{
	color: #666666;
}
.contact-list__item__text span{
	font-size:18px;
	color:#00aee8;
	font-weight:bold;
}
.form-group{
	margin-bottom:20px;
}
.form-group .form-control{
	padding:10px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	resize:vertical;
	margin-bottom:0;
}
.cb-checkbo{
	display:inline-block;
	margin-bottom:0;
}
.cb-checkbo__content{
	position:relative;
	display:block;
	cursor:pointer;
	font-size:13px;
	color:#666666;
}
.cb-checkbo__content:before{
	width:18px;
	height:18px;
	border:1px solid #ccc;
	position:relative;
	margin-right:10px;
	top:4px;
	content:'';
	display:inline-block;
}
.cb-checkbo__content:after{
	width: 6px;
    height: 12px;
    border-style: solid;
    border-color: #00aee8;
    border-width: 0 2px 2px 0;
    position: absolute;
    left: 6px;
    top: 6px;
    content:'';
    display:inline-block;
    -webkit-transform: rotate(0deg) scale(0);
    -moz-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    -o-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    -webkit-transition: all 0.3s cubic-bezier(0, 1.1, 0.36, 1.13);
    -moz-transition: all 0.3s cubic-bezier(0, 1.1, 0.36, 1.13);
    -o-transition: all 0.3s cubic-bezier(0, 1.1, 0.36, 1.13);
    -ms-transition: all 0.3s cubic-bezier(0, 1.1, 0.36, 1.13);
    transition:all 0.3s cubic-bezier(0, 1.1, 0.36, 1.13);
}
.cb-checkbox{
	display:none;
}
.cb-checkbox:checked + .cb-checkbo__content:after{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    opacity: 1;
     -webkit-transform: rotate(40deg) scale(1);
    -moz-transform: rotate(40deg) scale(1);
    -ms-transform: rotate(40deg) scale(1);
    -o-transform: rotate(40deg) scale(1);
    transform: rotate(40deg) scale(1);
}
.btn-contact{
	width:100%;
	background-color:#00aee8;
	color:white;
	text-transform:uppercase;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	padding-top:10px;
	padding-bottom:10px;
}
.btn-contact:hover,
.btn-contact:focus,
.btn-contact:focus:active,
.btn-contact:active{
	color:white;
	background-color:#047aa1;
	 -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition:all 0.3s ease;
}

.contact__footer{
	background-image:url('../images/contact-bg.jpg');
	background-size:cover;
	padding-top:30px;
	padding-bottom:40px;
}
.contact__footer__title{
	color:white;
	text-align:center;
	font-weight:600;
	font-size:24px;
	font-family:"Open-sans", sans-serif;
}
.contact__footer__list{
	padding-left:0;
	list-style:square;
	margin-top:20px;
}
.contact__footer__list__item{
	font-size:14px;
	font-family:"Open-sans", sans-serif;
	color:#cccccc;
	margin-bottom:10px;
}
@media all and (max-width:992px){
	.contact__content{
		padding-top:30px;
	}
}