.about{
	padding-top:65px;
	margin-bottom:50px;
}
.about .container{
	max-width:100% !important;
}
.about__banner{
	height:220px;
	background-image:url('../images/why-banner.png');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	display:table;
	width:100%;
	margin-bottom:50px;
}
.about__banner__content{
	text-align:center;
	display:table-cell;
	vertical-align: middle;
}
.about__banner__content__title,
.about__banner__content__text{
	color:white;
	font-family: 'Montserrat', sans-serif;
}
.about__banner__content__title{
	font-size:28px;
}
.about__banner__content__text{
	font-weight:300;
	color:white;
}
.about__item{
	width:33.3%;
	padding-left:15px;
	padding-right:15px;
	float:left;
	margin-top:50px;
}
.about__item__title{
	font-family: 'Montserrat', sans-serif;
	border-bottom:1px solid #eaeaea;
	padding-left:45px;
	padding-bottom:20px;
	font-size:16px;
	color:black;
	margin-top:0;
	padding-top:15px;
	min-height:70px;
}
.about__item__text{
	color:#666666;
	font-family:'Open-sans', sans-serif;
	font-size:13px;
}
.about__item__content{
	background-color:#f8f9f8;
	position:relative;
	padding:0 15px 15px;
	min-height:300px;
}
.about__item__icon{
	width:63px;
	height:63px;
	position:absolute;
	top:-10px;
	left:-10px;
	background-color:#00aee8;
}
.about [class*="icon-"]{
	background-image:url('../images/about-sprite.png');
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
.icon-hand{
	background-position:-2px -4px;
	width: 40px;
	height: 23px;
}
.icon-rocket{
	background-position:-46px -4px;
	width: 32px;
	height: 32px;
}
.icon-metric{
	background-position:-85px -6px;
	width: 25px;
	height: 21px;
}
.icon-speed{
	background-position:-2px -42px;
	width: 33px;
	height: 21px;
}
.icon-loading{
	background-position:-42px -42px;
	width: 31px;
	height: 32px;
}
.icon-micro{
	background-position:-81px -42px;
	width: 32px;
	height: 29px;
}
.icon-shield{
	background-position:-2px -80px;
	width: 29px;
	height: 32px;
}
.icon-luggage{
	background-position:-39px -82px;
	width: 32px;
	height: 30px;
}
.icon-puzzle{
	background-position:-83px -80px;
	width: 27px;
	height: 32px;
}
@media all and (max-width:992px){
	.about{
		padding-top:0;
	}
}
@media all and (max-width:992px) and (min-width: 767px){
	.about__item{
		width:50%;
	}
	.about__item__content{
		min-height: 300px;
	}
}
@media all and (max-width:767px){
	.about__item{
		width:100%;
	}
	.about__item__title{
		padding-left:50px;
	}
	.about__item__content{
		min-height: 1px;
		padding:10px;
	}
}