.icons-sprite, .btn__search, .icon-facebook, .icon-twitter, .icon-google, .icon-pinterest, .slick-arrow.slick-prev, .slick-arrow.slick-next {
  background-image: url('../images/icons-sca4f4745d6.png');
  background-repeat: no-repeat;
}
[class*='btn__']:hover, [class*='btn__']:active, [class*='btn__']:focus:active, [class*='btn__']:focus {
  outline: none;
}
.btn__search {
  background-position: 0 -405px;
  height: 14px;
  width: 14px;
  right: 15px;
  top: 10px;
  padding: 0;
  position: absolute;
  background-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
.icon-facebook {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}
.icon-twitter {
  background-position: 0 -422px;
  height: 32px;
  width: 32px;
}
.icon-google {
  background-position: 0 -35px;
  height: 32px;
  width: 32px;
}
.icon-pinterest {
  background-position: 0 -220px;
  height: 32px;
  width: 32px;
}
.header {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: #fff;
  background-image: none;
  filter: none;
  border-color: #e4e6e8;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  word-wrap: break-word;
}
h2 {
  font-size: 36px;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333333;
}
.text-banner {
  color: white;
}
.text-muted {
  color: #00aee8;
  font-family: "Montserrat", sans-serif;
}
a.text-muted:hover, a.text-muted:focus, a.text-muted:focus:active {
  color: #0088b5;
  text-decoration: none;
}
.text-caps {
  text-transform: uppercase;
}
.avatar-picture {
  width: 61px;
  height: 61px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  float: left;
}
.user__block {
  margin-top: 30px;
}
.user__text {
  margin-left: 80px;
}
.user__text .text-muted {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}
.container-muted {
  margin-top: 15px;
}
.container__post {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container__post:nth-child(even) {
  background-color: #fafafa;
}
.post__container {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.post__container p {
  margin-bottom: 20px;
}
.post__container h1, .post__container h2, .post__container h3, .post__container h4, .post__container h5, .post__container h6 {
  color: black;
}
.review {
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 40px;
}
.review .review__picture {
  width: 128px;
  height: 128px;
  float: left;
}
.review .review__block {
  margin-left: 150px;
}
.similar__post {
  margin-bottom: 30px;
}
.similar__post .similar__post__picture {
  height: 145px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.similar__post .similar__post__picture img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
}
.similar__post .similar__post__title:hover {
  text-decoration: none;
}
.similar__post .similar__post__title:hover * {
  color: #00aee8;
}
.post-social {
  padding-left: 0;
  margin-bottom: 0;
  position: absolute;
  top: 30px;
  left: -40px;
  margin-left: 0;
}
.post-social li {
  list-style: none;
  margin-bottom: 10px;
}
.post-social li a i {
  display: block;
}
.post-social li a:hover i {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog .container {
  max-width: none !important;
}
.post__title:hover, .post__title:focus, .post__title:active, .post__title:focus:active {
  text-decoration: none;
}
.post__title:hover h2, .post__title:focus h2, .post__title:active h2, .post__title:focus:active h2 {
  color: black;
}
.form-group.is-search {
  position: relative;
}
.form-group.is-search .form-control {
  border: 1px solid #cccccc;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 100%;
  padding: 6px 12px;
}
.form-group.is-search .form-control:focus {
  border: 1px solid #00aee8;
}
.form-group .form-control {
  border: 1px solid #cccccc;
  height: auto;
}
.form-group select.form-control {
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group select.form-control:focus, .form-group select.form-control:active, .form-group select.form-control:focus:active {
  outline: none;
  border: 1px solid #00aee8;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.landing__banner {
  background-image: url("../images/bg/banner.png");
  min-height: 480px;
  max-height: 550px;
  padding-top: 70px;
  background-size: cover;
  color: white;
  float: left;
}
.landing__banner .landing__banner__content {
  width: 100%;
  min-height: 480px;
  max-height: 550px;
  position: relative;
}
.landing__banner .landing__banner__content .landing__banner__content__ {
  position: absolute;
  bottom: 0;
}
.landing__banner.post-banner .landing__banner__content .landing__banner__content__ {
  vertical-align: bottom;
  padding-bottom: 20px;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider * {
  outline: none;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  text-indent: -99999px;
  background-color: transparent;
  border: none;
  z-index: 5;
}
.slick-arrow.slick-prev {
  background-position: 0 -70px;
  height: 72px;
  width: 36px;
  left: 10px;
}
.slick-arrow.slick-prev:hover, .slick-arrow.slick-prev.left-hover {
  background-position: 0 -145px;
}
.slick-arrow.slick-next {
  background-position: 0 -255px;
  height: 72px;
  width: 36px;
  right: 10px;
}
.slick-arrow.slick-next:hover, .slick-arrow.slick-next.right-hover {
  background-position: 0 -330px;
}
.m-b0 {
  margin-bottom: 0;
}
.m-tb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-r20 {
  margin-right: 20px;
}



@media all and (max-width: 992px) {
  /* line 2, ../src/sass/modules/_responsive.scss */
  .post-social {
    position: static;
  }
  /* line 4, ../src/sass/modules/_responsive.scss */
  .post-social li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  /* line 13, ../src/sass/modules/_responsive.scss */
  .landing__banner .landing__banner__content .landing__banner__content__ p.text-banner {
    display: none;
  }
  /* line 17, ../src/sass/modules/_responsive.scss */
  .landing__banner .landing__banner__content .landing__banner__content__ .user__block p.text-banner {
    display: block;
  }
}
@media all and (max-width: 767px) {
  /* line 26, ../src/sass/modules/_responsive.scss */
  .landing__banner {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 31, ../src/sass/modules/_responsive.scss */
  .landing__banner .landing__banner__content .landing__banner__content__ {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* line 38, ../src/sass/modules/_responsive.scss */
  .review .review__picture {
    float: none;
    margin-bottom: 0;
  }
  /* line 42, ../src/sass/modules/_responsive.scss */
  .review .review__block {
    margin-left: 0;
  }
}
