.team{
	padding-top: 65px;
}
.team__banner{
	height:230px;
	background-image:url('../images/bird.jpg');
	background-size:cover;
	padding-top:50px;
	padding-bottom:50px;
	margin-bottom:50px;
	text-align:center;
}
.team__banner__title{
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:28px;
}
.team__banner__subtitle{
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
}
.team__text{
	color:#999999;
	font-size:16px;
	font-family: 'Open-sans', sans-serif;
	line-height:30px;
	text-align:center;
	margin-bottom:30px;
	padding-left:15px;
	padding-right:15px;
}
.team__photo{
	height:300px;
	background-size:cover;
}
.team__member{
	margin-bottom:70px;
}
.team__block{
	margin-bottom:40px;
	width:33.3%;
	padding-left:15px;
	padding-right:15px;
	float:left;
}
.team__block__title{
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	color:black;
}
.team__block__position{
	color:#999999;
	font-size:14px;
}
@media (max-width:992px) and (min-width:767px){
	.team__block{
		width:50%;
	}
}
@media (max-width:890px) {
	.team{
		padding-top: 0px;
	}
}

@media (max-width:767px) {
	.team__photo{
		height:450px;
	}
	.team__block{
		width:100%;
		float:none;
	}
}