.services{
	padding-top: 65px;
	margin-bottom: 20px;
}
.services .container{
	max-width:100% !important;
}
.services__banner{
	height:190px;
	background-image:url('../images/service-banner.png');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	display:table;
	width:100%;
	margin-bottom:50px;
}
.services__banner__content{
	text-align:center;
	display:table-cell;
	vertical-align: middle;
}
.services__banner__content__title{
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:28px;
}
.services__content__title{
	text-transform:uppercase;
	color:black;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	position:relative;
	font-weight:bold;
	margin-bottom:60px;
}
.services__content__title:after{
	position:absolute;
	content:'';
	width:80px;
	height:1px;
	background-color:#00aee8;
	top:150%;
	left:50%;
	margin-left:-40px;
	margin-bottom:40px;
}
.services__block{
	position:relative;
	width:33.3%;
	float:left;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:30px;
}
.services__block__content{
	padding:20px;
	background-color:#f8f9f8;
	min-height:130px;
}
.services__block__content__title,
.services__block__content__text{
	font-family: 'Montserrat', sans-serif;
}
.services__block__content__title{
	font-size:16px;
	font-weight:bold;
	color:black;
	margin-top:0;
}
.services__block__content__text{
	font-size:14px;
	color:#333333;
}
.services__block__content__text a{
	text-decoration:underline;
	color:#333333;
}
.services__block__content__text a:hover{
	color:black;
}
.services__block__icon{
	position:absolute;
	right:30px;
	bottom:85px;
	width:60px;
	height:60px;
	text-align:center;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	background-color:#00aee8;
	z-index:2;
}
.services__block__footer{
	overflow:hidden;
	height:115px;
	position:relative;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.services__block__footer img{
	z-index:1;
	width:100%;
	height:100%;
}
.services [class*='icon-']{
	background-image:url('../images/service-sprite.png');
	background-repeat:no-repeat;
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	z-index:3;
}
.services__block.service__work{
	width:25%;
}
.services__block.service__work .services__block__content__title{
	font-size:14px;
}
.services__block.service__work .services__block__content__text{
	font-size:13px;
}
.services__block.service__work .services__block__icon{
	width:40px;
	height:40px;
	bottom:95px;
}
.icon-diamond{
	background-position:-2px -3px;
	width: 28px;
	height: 21px;
}
.icon-bag{
	background-position:-38px -3px;
	width: 27px;
	height: 23px;
}
.icon-apple{
	background-position:-77px -3px;
	width: 23px;
	height: 28px;
}
.icon-print{
	background-position:-5px -38px;
	width: 28px;
	height: 27px;
}
.icon-crown{
	background-position:-41px -40px;
	width: 28px;
	height: 23px;
}
.icon-group{
	background-position:-77px -44px;
	width: 29px;
	height: 19px;
}
.icon-php{
	background-position:-5px -73px;
	width: 20px;
	height: 12px;
}
.icon-magento{
	background-position:-30px -71px;
	width: 17px;
	height: 20px;
}
.icon-android{
	background-position:-55px -71px;
	width: 17px;
	height: 20px;
}
.icon-bracket{
	background-position:-79px -73px;
	width: 19px;
	height: 20px;
}

@media all and (max-width:992px){
	.services{
		padding-top:0;
	}
}
@media all and (max-width:992px) and (min-width: 540px){
	.services__block,
	.services__block.service__work{
		width:50%;
	}
	.services__block__content{
		min-height:180px;
	}
}
@media all and (max-width: 540px){
	.services__block,
	.services__block.service__work{
		width:100%;
	}
	.services__block__content{
		min-height:1px;
	}
}