.landing__banner{
	background-image:url('../images/bg/banner.png');
	min-height:480px;
	max-height:550px;
	padding-top:70px;
	background-size:cover;	
	color:$color_white;
	float:left;
	.landing__banner__content{
		//display:table;
		width:100%;
		min-height:480px;
		max-height:550px;
		position:relative;
		.landing__banner__content__{
			//display:table-cell;
			position:absolute;
			bottom:0;
			//vertical-align:middle;
		}
	}
	&.post-banner{
		.landing__banner__content{
			.landing__banner__content__{
				vertical-align:bottom;
				padding-bottom:20px;
			}
		}
	}
}

.slider{
	position:relative;
	overflow:hidden;
	*{
		outline:none;
	}	
}

.slick-arrow{
	position:absolute;
	top:50%;
	margin-top:-36px;
	text-indent:-99999px;
	background-color:transparent;
	border:none;
	z-index:5;
	&.slick-prev{
		@include icons-sprite(left);
		left:10px;
	}
	&.slick-next{
		@include icons-sprite(right);
		right:10px;
	}
}