$icons-sprite-dimensions:true;

@import "compass/utilities/sprites";

$icons-layout: vertical;
$icons-spacing: 3px;

@import "icons/*.png";

[class*='btn__']{
	&:hover, &:active, &:focus:active, &:focus{
		outline:none;
	}
}
.btn__search{
	@include icons-sprite(search);
	right:15px;
	top:10px;
	padding:0;
	position:absolute;
	background-color:transparent;
	@include border-radius(0);
	border:none;
}