.form-group{
	&.is-search{
		position:relative;		
		.form-control{
			border:1px solid $color_border;
			@include border-radius(50px);
			width:100%;
			padding:6px 12px;
			&:focus{
				border:1px solid $color_blue;
			}
		}
	}
	.form-control{
		border:1px solid $color_border;
		height:auto;
	}
	select.form-control{
		border:1px solid transparent;
		outline:none;
		width:100%;
		@include box-shadow(none);
		&:focus, &:active, &:focus:active{
			outline:none;
			border:1px solid $color_blue;
			@include box-shadow(none);
		}
	}
}