.header {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: #fff;
    background-image: none;
    filter: none;
    border-color: #e4e6e8;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    position: relative;
    z-index: 300;
}