.icon-facebook{
	@include icons-sprite(facebook);
}

.icon-twitter{
	@include icons-sprite(twitter);
}

.icon-google{
	@include icons-sprite(google);
}

.icon-pinterest{
	@include icons-sprite(pinterest);
}