h1, h2, h3, h4, h5, h6{
	font-family: $montserrat;
	color:$color_text;
	word-wrap:break-word;
}
h2{
	font-size:36px;
}

p{
	font-family:$open-sans;
	font-size:18px;
	color:$color_text;
}

.text-banner{
	color:$color_white;
}

.text-muted{
	color:$color_blue;
	font-family: $montserrat;
}

a.text-muted{
	&:hover, &:focus, &:focus:active{
		color:darken($color_blue, 10%);
		text-decoration:none;
	}
}

.text-caps{
	text-transform:uppercase;

}
.avatar-picture{
	width:61px;
	height:61px;
	@include border-radius(100%);
	float:left;
}

.user__block{
	margin-top:30px;	
}

.user__text{
	margin-left:80px;	
	.text-muted{
		font-family: $montserrat;
		margin-bottom:5px;
	}
}

.container-muted{
	margin-top:15px;
}

.container__post{
	padding-top:30px;
	padding-bottom:30px;
	&:nth-child(even){
		background-color:$color_post_bg;
	}
}

.post__container{
	padding-top:30px;
	padding-bottom:30px;
	position:relative;
	p{
		margin-bottom:20px;		
	}
	h1, h2, h3, h4, h5, h6{
		color:$color_black;
	}
}

.review{
	background-color:$color_post_bg;
	padding:20px;
	margin-bottom:40px;
	.review__picture{
		width:128px;
		height:128px;
		float:left;
	}
	.review__block{
		margin-left:150px;
	}
}

.similar__post{
	margin-bottom:30px;
	.similar__post__picture{
		height:145px;
		position:relative;
		overflow:hidden;
		margin-bottom:20px;
		img{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:0;
			width:100%;
		}
	}
	.similar__post__title{
		&:hover{
			text-decoration:none;
			*{
				color:$color_blue;				
			}
		}
	}
}

.post-social{
	padding-left:0;
	margin-bottom:0;
	position:absolute;
	top:30px;
	left:-40px;
	margin-left:0;
	li{
		list-style:none;
		margin-bottom:10px;
		a{
			i{
				display:block;
			}
			&:hover{
				i{
					@include transform(scale(1.05));
					@include transition(.3s ease);
				}				
			}
		}
	}
}

.blog{
	.container{
		max-width:none !important;
	}
}

.post__title{
	&:hover, &:focus, &:active, &:focus:active{
		text-decoration:none;
		h2{
			color:black;
		}
	}
}