@media all and (max-width:992px){
	.post-social{
		position:static;
		li{
			display:inline-block;
			margin-right:10px;
			margin-bottom:5px;
		}
	}
	.landing__banner {
		.landing__banner__content{
			.landing__banner__content__{
				p.text-banner{
					display:none;
				}
				.user__block{
					p.text-banner{
						display:block;
					}
				}
			}
		}
	}
}
@media all and (max-width:767px){
	.landing__banner{
		height:auto;
		padding-top:20px;
		padding-bottom:20px;
		.landing__banner__content{
			.landing__banner__content__{
				padding-left:50px;
				padding-right:50px;
			}
		}
	}
	.review{
		.review__picture{
			float:none;
			margin-bottom:0;
		}
		.review__block{
			margin-left:0;
		}
	}	
}